* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	letter-spacing: 1px;
}

.navbar {
	min-height: 50px;
	box-shadow: 0px 1px 2px #686868;
	background-color: #fff;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 2fr 1fr 40px 0.7fr;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.2);
}

.navLinks {
	/* background-color: aqua; */
	display: grid;
	align-content: center;
	grid-auto-flow: column;
}

.logo {
	/* background-color: blueviolet; */
	margin-left: 8px;
	margin-right: 8px;
	display: grid;
	justify-content: center;
	align-content: center;
}

.logo img {
	height: 50px;
	width: 80px;
	color: #cf001b;
}

.NavItems a {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 50px;
	text-decoration: none;
	text-align: center;
	color: #666;
	font-size: 14px;
}

.NavItems:hover {
	background-color: rgba(200, 200, 200, 0.2);
}

.SearchBox {
	/* background-color: cornflowerblue; */
	display: grid;
	align-content: center;
	justify-content: center;
}

.SearchBox input {
	background: transparent;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	background: url(//qsf.fs.quoracdn.net/-3-images.new_grid.QuoraSearch.png-26-86c32b1ac26e4161.png) no-repeat 8px
		center;
	padding-left: 26px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-size: 13px;
	color: #666;
}

.CircleAvatar {
	display: grid;
	justify-content: center;
	/* background-color: chocolate; */
	display: grid;
	align-content: center;
}

.CircleAvatar img {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

.NavButton {
	/* background-color: aqua; */
	margin: 8px;
	display: grid;
	align-content: center;
	justify-content: center;
}

.NavButton button {
	font-size: 14px;
	height: 30px;
	box-sizing: border-box;
	text-align: center;
	background: #cf001b;
	padding: 3px 7px 4px 7px;
	text-decoration: none;
	border: 2px #cf001b;
	white-space: nowrap;
	border-radius: 3px;
	color: white;
}
